*.asv
*.aux
*.log
*.out
*.gz

Data/CPAC200
Data/desikan
Data/JHU
Data/DS01876
*.graphml
.Rhistory
*.blg
Data/cov-v2-14_02_01-deltat50-th0.RBin

Data/fish.RData
Data/cov-v2-14_02_01-deltat4-th0.RBin
Data/fish_4.RData

Result/result_fish_dissimilarity_q_0.9_eig.RData

